#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

# export DH_VERBOSE=1

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/makefile.mk

DEB_MAKE_BUILD_TARGET := ldap2dns

# May need to be revised depending on how upstream does things in future
get-orig-source:
	-uscan --download --verbose
